    <div class="row">
        <div class="span3 well">
            <h1>Participants</h1>
            <% @studies.each do |study| %>

                <div class='study-list'>
                    <div class="study-heading foo"><%= study.study_name %></div>
                    <ul>
                    <% study.robo_users.each do |user| %>
                        <li><div class="radio"><label><input class="user-radio" type='radio' name='userRadio' value="<%=user.id%>"><%=user.username%> <strong class="pull-right"><%=user.phone_configuration.id rescue ''%></strong> </label></div></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>
        </div>
        
        <div class="span8">
            <form class="form-horizontal" action="" method="post" id="configurator" >
                <fieldset>
                        <input type='hidden' value='' />
                        <h1 class="headline-index">Edit Participant Configuration</h1>
                        <div class='control-group well home-well'>
                            <label class='control-label' for='nickname'>Configuration Name</label>
                            <div class='controls'>
                                <input placeholder='Required' class='form-control pull-left' type='text' id='nickname' />
                                <div class='btn btn-small btn-inverse pull-right' id='clear-form'>Clear Form</div>
                        </div>
                    </div>
                <div class="form-toggles-index">
                        <i id="toggle-all" class="icon-plus-sign icon-2x"></i>
                        <i id="close-all" class="icon-minus-sign icon-2x"></i>
                </div>
                    <ul class="config-form" ></ul>
                </fieldset>
            </form>
        </div> 
  </div>
</div>
</body> 
<script>
$(document).ready (function(){
    $("form :input").on("keypress", function(e) {
        return e.keyCode != 13;
    });
    $('#toggle-all').on("click", function(){
        $('.collapsible').collapsible('open');
    });
    $('#close-all').on("click", function(){
        $('.collapsible').collapsible('close');
    });
    $('.foo').collapsible();
    $('.user-radio').on("click", function(e) {
        if($('.submit')){
            $('.submit').off("click");
        }
        var user = $('[type="radio"]:checked').val();
        csrf();
        $.ajax({
            url:"<%=phone_config_path%>",
            type: "GET",
            data: {user_id: user},
            success:function(response){
                $.getJSON("/template/get_template", function(data){
                    $('.config-form').html(''); 
                    $('.config-form').append(parse_recursive(data.configuration));
                    if($('.submit').length == 0){
                        $('#configurator').append("<div class='pull-right submit btn btn-large btn-warning'>Submit Configuration</div>");
                    }
                    $('.collapsible').collapsible();
                    $('.collapsible').first().collapsible('open');
                    $('#clear-form').on("click", function(){
                        getTemplate();
                        $('[type="radio"]:checked').prop('checked', false);
                    });

                console.log(response);
                    $('[type="hidden"]').val('');
                    $('#nickname').val('');
                    if(!$.isEmptyObject(response)){
                        fillForm(jQuery.parseJSON(response.json));
                        console.log(response.config_name);
                        $('#nickname').val(response.config_name);
                    }
                    $('.submit').on("click", function(e) {
                        var json_config = JSON.stringify(serializeObject($('input, select')));
                        var config_name = $('#nickname').val();
                        var user = $('[type="radio"]:checked').val();
                        csrf();
                        $.ajax({
                            url:'/phone_configurations',
                            type: "POST",
                            data: {phone_configuration: {json: json_config, config_name: config_name, robo_user_id: user}},
                            success:function(response){
                            },
                            complete:function(){
                                console.log("heyo");
                                $('#nickname').val('');
                                location.reload(true);
                            },
                            error:function (xhr, textStatus, thrownError){}
                        });
                        return true;
                    });
                });
            },
            complete:function(){},
            error:function (xhr, textStatus, thrownError){}
        });
    });
});
</script> 			
